:root {
    --blue: #241152;
    --green: #86f1af;

    --bentham: 'Bentham', serif;
    --roboto: 'Roboto', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--roboto);
}

header {
    width: 100%;
    height: 750px;
    padding: 2rem 1.5rem;
    color: white;
}

h1 {
    font-weight: bold;
    font-size: 2.5rem;
}

h1 > span {
    font-weight: lighter;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav a {
    color: white;
    font-size: 1.5rem;
    
}

.underline {
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-color: #86f1af;
    text-decoration-thickness: 3px;
}

.hero {
    margin-top: 4rem;
    text-align: center;
}

h2 {
    font-family: var(--bentham);
    font-size: 4.5rem;
    font-weight: lighter;
    letter-spacing: -2px;
    word-spacing: 5px;
    line-height: 70px;
    padding: 2rem;
}

.hero img {
    position: absolute;
    left: 50%;
    top: 650px;
    transform: translate(-50%, 0);
    z-index: 999;
    overflow: visible;
}


.shape {
    position: absolute;
    inset: 0;
    height: 750px;
    overflow: hidden;
}

    .shape::before {
    border-radius: 100%;
    position: absolute;
    background: var(--blue);
    right: -400px;
    left: -400px;
    top: -200px;
    content: '';
    bottom: 0;
    z-index: -999
}

button {
    margin-top: 3rem;
    padding: 1.5rem 2rem;
    background-color: #86f1af;
    border: none;
}
button a {
    color: #2e146b;
    text-decoration: none;
    font-size: 1.8rem;
}

img {
    width: 300px;
}

.main{
    padding: 10px;
    width: 90%;
    margin: 6rem auto 2rem;
}

.description {
    display: block;
    text-align: center;
    color: #2e146b;
    padding-bottom: 10px;
}

.section {
    margin-top: 6rem;
}


.number {
    border: solid var(--blue) 2px;
    border-radius: 50%;
    margin: 0 auto 4rem;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--bentham);
    font-size: 3rem;
    font-weight: 400;
}

h3 {
    font-family: var(--bentham);
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

p {
    line-height: 2.5rem;
    font-size: 1.6rem;
    font-weight: lighter;
    
}


.cat {
    text-align: center;
    position: relative;
    margin-top: 33rem;
}

.cat img {
    position: absolute;
    left: 50%;
    top: -40%;
    transform: translate(-50%, 0);
    width: 400px;
    height: 400px;
    z-index: -99;
    border-radius: 50%;
}
.cat-card {
    background-color: var(--blue);
    color: white;
    margin: 0 auto;
    padding: 3rem 2rem;
    width: 90%;
}

.cat-card p {
    margin-bottom: 2rem;
}

footer {
    margin: 4rem 0 2rem;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 30%;
    margin: 3rem auto 0;
}

li a {
    color: #2e146b;
    font-size: 1.5rem;
}

@media (min-width: 768px) {
    header {
        padding-left: 3rem;
        padding-right: 3rem;
    }
    h1 {
        font-size: 2.5rem;
    }
    a {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 6rem;
        line-height: 80px;
    }

    button a {
        font-size: 1.4rem;
    }
    .main {
        margin-top: 10rem;
    }

    .section {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 4rem;
        padding-right: 4rem;
        text-align: justify;
        gap: 1rem;
    }

    .col-1 {
        width: 15%;
    }

    .col-2 {
        width: 85%;
    }

    h3 {
        font-size: 2.5rem;
    }

    .section p {
        font-size: 1.4rem;
        line-height: 30px;
    }

    .number {
        margin: 0;
        padding: 2rem;
        font-size: 2rem;
    }

    .cat {
        padding-top: 10px;
        width: 95%;
        margin: 30rem auto 0;

    }

    .cat img {
        position: absolute;
        left: 20%;
        top: -25%;
        transform: translate(-50%, 0);
        height: 400px;
        z-index: -99;
        border-radius: 50%;
    }

    .cat-card {
        width: 70%;
        margin-right: 0;
        text-align: left;
        padding: 4rem 3.5rem;
    }

    .cat-card h3 {
        font-size: 4rem;
        word-spacing: -4px;
    }

    .cat-card p {
        font-size: 1.5rem;
        line-height: 40px;
    }
    .cat-card button {
        margin-top: 0;
    }

    ul {
        width: 20%;
    }

    li a {
        font-size: 2rem;
    }
}

@media (min-width: 1280px) {

    nav {
        padding: 3rem 10rem 0
    }

    .hero {
        margin-top: 2rem;
    }

    .hero img {
        top: 530px;
    }

    h2 {
        padding-bottom: 0;
    }

    .description {
        display: flex;
        flex-direction: row;
    }

    .col-1, .col-2 {
        width: 100%;
    }

    .section {
        display: block;
        text-align: center;
    }

    .number {
        margin: 3rem auto;
    }

    img {
        width: 600px;
    }

    .cat {
        width: 80%;
    }

    .cat img {
        width: 500px;
        height: 500px;
    }
}